@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Open+Sans:wght@500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-image: url(./images/fondo\ 05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40rem;
    font-size: 16px;
}
#subnav{display: none;}
.arrow{
    z-index: 0;
    align-items: flex-end;
    width: 3.5rem;
    height: 40rem;
    position: absolute;
    transform: translateX(80rem);
    position: fixed;
}
.arrow a{
    margin-bottom: 2.1rem;
}
.arrow a:before{
    content: '';
    width: 2.1rem;
    height: 2.1rem;
    border-radius:25%;
    transition: .5s;
}
.arrow a:hover:before{
    transform: scale(1.2);
    background-color: #ffa502;
    box-shadow: 0 0 1rem #d35400;
    filter: blur(0.063rem);
}
.arrow img{
    width: 2.1rem;
    height: 2.1rem;
    z-index: 4;
    border-radius:25%;
    transition: .5s;
    transform: scale(.9);
    position: absolute;
}
.arrow a img:hover{
    box-shadow: 0 0 1em 0 #ffa502;
    text-shadow: 0 0 1em 0 #d35400;
}
.enlace{position: relative;}
.logo{
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}
.boton{width: 3rem;}
.checkbtn{ /*boton*/
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}
nav{
    justify-content: space-between;
    position: fixed;
    z-index: 4;
}
.menu{
    justify-content: space-around;
    font-size: 0.9rem;
    cursor: pointer;
}
.menu > div{text-align: center;}
.menu > div:hover, .novedad div:hover, .info div:hover, .resu div:hover,
.submenu div:hover,.subjueces li:hover, .subfili li:hover, .bus div:hover,
.reglam div:hover,.info div a:hover,.boton:hover
{background-color: rgb(0, 0, 126);
transition: all 0.5s;
box-shadow: 0 0 1em 0 white;}
.submenu div,.subnovedad div{line-height: 3rem;}
.menu div:hover .submenu, .submenu div{display: block;}
.subjueces,.subfili,.bus,.reglam,.subreglam, .subtorneo, .subresolu,
.novedad,.subnovedad,.inscripciones a,.info,.subinfo,.resu,.resu div,
.subresu,.exa,.subplaca,.subsieger,.subestad,.arrow,.subcontainer,
.subcontainer div,.datos,.footer ul,.footer ul li
{flex-direction: column;}
.menu > div > a,.reglam,.reglam,.subinfo,.subresu,.exa,.subplaca,
.subsieger,.subestad,.subnovedad
{position: absolute;}
.menu > div,.menu > div > a,.submenu div a,.subjueces li a,.bus div a,
.reglam div a,.novedad,.novedad div,.novedad div a, .info div a,
.info,.resu div,.exa,.subsieger,.arrow,.arrow a,.container3d,
.datos,.video0, .video1, .video2,.footer ul,.footer ul li
{justify-content: center;}
.checkbtn,nav,.menu,.menu > div,.menu > div > a,.submenu div a,
.subjueces li a,.bus div a, .reglam div a,.novedad,.novedad div,
.novedad div a, .info div a,.info,.resu div,.exa,.subsieger,.redes,
.footer ul li,.footer,.arrow a,.datos,.video0, .video1, .video2
{align-items: center;}
.checkbtn,nav,.menu,.menu > div,.submenu, .reglamentos,.submenu div,
.submenu div a,.subjueces li a,.bus,.reglam,.novedad,.novedad div,
.novedad div a, .info div a,.subnovedad,.inscripciones a,.info,.info div,
.subinfo,.resu div,.subresu,.exa,.subplaca,.subsieger,.subestad,.container,
.container3d,.content-carrousel,.content-carrousel figure,.content-carrousel figure img,
.videos,.footer,.calendario
{width: 100%;}
.nav,.submenu, .reglamentos,.submenu div,.bus,
.bus div a, .reglam div a,.reglam,.reglamen, .torneo, .resolu,
.info div,.resu div,.checkbtn,.menu,.menu > div,.novedad,.novedad div,
.subnovedad,.subinfo, .novedad a,.subinfo a
{height: 3rem;}
.subjueces,.subfili,.subreglam, .subtorneo, .subresolu
{font-size: 0.79rem;}
.subestad,.exa
{transform: translate(-11.11rem, -3rem);}
.subplaca,.subresu
{transform: translate(-11.11rem,-7.5rem);}
.subsieger
{transform: translate(-11.1rem,-6rem);}
.resu div,.info
{transform: translateY(9rem);}
.subinfo
{transform: translateX(11.11rem);}
.subnovedad
{transform: translateX(11.15rem);}
.novedad
{transform: translateY(4.5rem);}
.subreglam, .subtorneo, .subresolu
{transform: translate(11.1rem,-3rem);}
.reglam,.bus,nav > div > div > div
{transform: translateY(3rem);}
.subjueces,.subfili
{transform: translate(11.1rem,-3rem);}
nav,nav > div > div > div,.submenu div,.subjueces,.subfili,
.bus div, .reglam div,.novedad,.novedades div,
.subnovedad,.info,.subinfo,.resu div,.subinfo a
{background-color: rgb(51,51,51);}
.menu > div > a,.submenu div a,.bus div a, .reglam div a,
.novedad div a, .info div a,.resu div a
{color: white;}
.submenu, .reglamentos,.novedad
{position: relative;}
nav > div > div > div,.subjueces,.subfili,.subjueces li a,
.videos,.videos div,.container3d
{flex-wrap: wrap;}
.checkbtn,nav,.menu,.menu > div,.menu > div > a,nav > div > div > div,
.submenu div a,.subjueces li a,.jueces:hover .subjueces, .fili:hover .subfili,
.bus div a, .reglam div a,.buscaUn:hover .bus, .reglamentos:hover .reglam,
.reglamen:hover .subreglam, .torneo:hover .subtorneo, .resolu:hover .subresolu,
.novedad div,.novedad div a, .info div a,.inscripciones a,.info div,.resu div,
.calendario:hover .subnovedad, .novedades:hover .novedad, .informacion:hover .info,
.sede:hover .subinfo, .resultados:hover .resu, .expo:hover .subresu, .examenes:hover .exa,
.placa:hover .subplaca, .sieger:hover .subsieger, .estad:hover .subestad,.arrow,.arrow a,
.redes,.footer ul li,.footer ul,.container,.subcontainer,.datos a,.subcontainer div,
.footer,.datos,.video0, .video1, .video2,.noticias,.redes,.datos,
.videos,.videos div,.container3d,.logo
{display: flex;}
#check,.submenu, .reglamentos,.subjueces,.subfili,.bus,.reglam,
.subreglam, .subtorneo,.subresolu,.novedad,.subnovedad,.info,.subinfo,
.resu,.subresu,.exa,.subplaca,.subsieger,.subestad
{display: none;}
.menu,.subcontainer div h2,.subcontainer div p,.datos,
.footer,.footer ul
{font-family: 'open sans';}
.container,.p1,.p2,.p3
{background-repeat: no-repeat;}
.container{
    height: 45rem;
    background-image: url(./images/fondo\ 01.jpg);
    background-size:cover;
}
.subcontainer{
    float: left;
    width: 50%;
    height: 45rem;
    margin-top: 3rem;
}
.subcontainer div{
    background-color: beige;
    width: 90%;
    height: 11rem;
    margin: 1.1rem;
}
.subcontainer div h2{
    font-size: 1.7rem;
    margin: 0.7rem;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.subcontainer div p{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
    margin: 0.3rem;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.p1,.p2,.p3{
    background-size:contain;
    background-position-x: right;
}
.p1{
    background-image: url(./images/cachorro\ 03.jpg);
}
.p2{
    background-image: url(./images/fondo\ 04.jpg);
}
.p3{
    background-image: url(./images/fondo\ 03.jpg);
}
.container3d{
    height: 12%;
    flex-direction: row;
    align-items:flex-start;
    margin-top: 2rem;
    background-color: transparent;
    height: 10rem;
}

.content-all{
    width: 14.2rem;
    perspective: 100rem;
}
.content-carrousel{
    animation: rotar 30s infinite linear;
    transform-style: preserve-3d;
    position: absolute;
}
.content-carrousel figure{
    height: 100%;
    position: absolute;
}
.content-carrousel figure img{
    height: 7.5rem;
    box-shadow: 0 0 1.563rem 0 black;
    border-radius: 1rem;
    transition: all 0.3s;
}
.content-carrousel:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.content-carrousel img:hover{
    transform: scale(1.1);
    transition: all 0.3s;
    box-shadow: 0 0 1.25rem 0 white;
    border-radius: 0;
}
@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}

.content-carrousel figure:nth-child(1){transform: rotateY(0deg)translateZ(18.75rem);}
.content-carrousel figure:nth-child(2){transform: rotateY(45deg)translateZ(18.75rem);}
.content-carrousel figure:nth-child(3){transform: rotateY(90deg)translateZ(18.75rem);}
.content-carrousel figure:nth-child(4){transform: rotateY(135deg)translateZ(18.75rem);}
.content-carrousel figure:nth-child(5){transform: rotateY(180deg)translateZ(18.75rem);}
.content-carrousel figure:nth-child(6){transform: rotateY(225deg)translateZ(18.75rem);}
.content-carrousel figure:nth-child(7){transform: rotateY(270deg)translateZ(18.75rem);}
.content-carrousel figure:nth-child(8){transform: rotateY(315deg)translateZ(18.75rem);}
.content-carrousel figure:nth-child(9){transform: rotateY(360deg)translateZ(18.75rem);}

.videos{
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-around;
}
.datos,.video0, .video1, .video2{
    height: 22rem;
    width: 36rem;
}
.datos{
    font-size: 1.8rem;   
    color: white;
}
.noticias, .redes{
    align-items: flex-start;
    background-color: rgb(255, 170, 0);
    width: 95%;
    margin-left: 5%;
    position: relative;
}
.noticias p{
    margin-left: 2rem;
}
.datos a{
    color: white;
    font-size: 1.5rem;
    justify-content: left;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin: 0.1rem;
    padding: 0.1rem;
}
.footer{
    height: 4rem;
    background-color:rgb(0, 0, 126);
    justify-content: space-around;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.footer ul{
    float: center;
    font-size: 0.688rem;
}

.footer a{
    color: white;
}
.footer img{margin-left: 1rem;height: 4rem;}
.redes{
    justify-content: space-evenly;
}
#facebook:hover{
    background-color: blue;
    box-shadow: 0 0 2rem 0 blue;
}
#instagram:hover{
    background-color: rgb(225, 0, 255);
    box-shadow: 0 0 2rem 0 rgb(225, 0, 255);
}
#twitter:hover{
    background-color: rgb(0, 185, 255);
    box-shadow: 0 0 2rem 0 rgb(0, 185, 255);
}
#mail:hover{
    background-color: red;
    box-shadow: 0 0 2rem 0 red;
}
#telefono:hover{
    background-color: green;
    box-shadow: 0 0 2rem 0 green;
}
#facebook:hover, #instagram:hover, #twitter:hover,
#mail:hover, #telefono:hover{
    border: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s;
}
#subnoti ul li a{
    z-index: 2;
}
#subnoti ul li{
    display: flex;
    width: 100%;
    height: 3rem;
    transition: .3s ease all;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    margin: 0.1rem;
}
#subnoti ul li::after{
    content: '';
    position: absolute;
    width: 0.313rem;
    height: 0.313rem;
    background-color: none;
    z-index: 1;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transition: 0.5s ease-in-out all;
}
#subnoti ul li:hover::after{
    transform: scale(100);
    background-color: rgb(0, 0, 126);
    transition: 0.5s ease-in-out all;
    box-shadow: 0 0 2rem 0 white;
    text-shadow: 0 0 2rem 0 black;
}

/* --- MEDIA --- */
@media screen and (max-width: 1350px){
    body{
        font-size: 16px;
    }
}

@media screen and (max-width: 400px){
    *{margin: 0px;padding: 0px;}
    body{display: flex;flex-wrap: wrap;
    justify-content: center;width: 400px;
}
.subcontainer{width: 90%;}
nav{padding-bottom: 0rem;}
#subnav{display: flex;width: 60%;;}
.container{width:100%;height: 46.3rem;}
.datos{width: 100%;height: 10rem;}
.datos a{font-size: 0.8rem;height: 1rem;}
.datos p{font-size: 1.1rem;}
.videos>div{width: 80%;height: 25%;margin: 2%;}
.subcontainer div p{font-size: 0.7rem;}
.container3d{height: 50px;width: 0.5rem;}
.content-carrousel figure{width: 1px;height: 5px;}
.content-carrousel figure img{height: 2rem; width: 5rem;border-radius: 0.2rem;}
.content-carrousel figure:nth-child(1){transform: rotateY(0deg)translateZ(8rem);}
.content-carrousel figure:nth-child(2){transform: rotateY(45deg)translateZ(8rem);}
.content-carrousel figure:nth-child(3){transform: rotateY(90deg)translateZ(8rem);}
.content-carrousel figure:nth-child(4){transform: rotateY(135deg)translateZ(8rem);}
.content-carrousel figure:nth-child(5){transform: rotateY(180deg)translateZ(8rem);}
.content-carrousel figure:nth-child(6){transform: rotateY(225deg)translateZ(8rem);}
.content-carrousel figure:nth-child(7){transform: rotateY(270deg)translateZ(8rem);}
.content-carrousel figure:nth-child(8){transform: rotateY(315deg)translateZ(8rem);}
.content-carrousel figure:nth-child(9){transform: rotateY(360deg)translateZ(8rem);}
.footer{width: 100%; display: flex;
justify-content: center;align-items: center;
margin-top: 5rem;}
.footer p{font-size: 0.6rem;}
.footer img{height: 3.5rem; margin: 1rem;}
.arrow{transform: translateX(10.5rem);}
.menu{display: none; flex-wrap: wrap;
    width: 4.92rem;height: 10%;}
.menu a{font-size: 7px;}
.submenu
{transform: translateX(-4.85rem);}
.subjueces,.subfili
{transform: translate(-4.85rem, -3rem);}
.subjueces a
{font-size: 0.35rem;}

.bus
{transform: translateX(-4.85rem);}

.reglam
{transform: translate(-4.85rem,-3rem);}
.subreglam
{transform: translate(-4.85rem, -9rem);}
.subtorneo
{transform: translate(-4.85rem,-12rem);}
.subresolu
{transform: translate(-4.85rem,-3rem);}
.novedad
{transform: translate(-4.85rem,1.5rem);}
.novedad div
{transform: translateY(0rem);}
.subnovedad
{transform: translate(-4.85rem, 0rem);}
.info
{transform: translateX(-4.85rem);}
.subinfo
{transform: translateX(-4.85rem);}
.resu
{transform: translate(-4.85rem, -3rem);}
.resu div
{transform: translate(0rem,0rem);}
.subresu
{transform: translate(-4.85rem,1.5rem);}
.exa
{transform: translateX(-4.85rem);}
.subplaca
{transform: translate(-4.85rem,1.5rem);}
.subsieger
{transform: translate(-4.85rem, 3rem);}
.subestad
{transform: translate(-4.85rem, -3rem);}
.boton{width: 3rem;}
nav:hover .menu{
    display: flex;
    padding-bottom: 9rem;
    transition: .3s all;
}
}
@media screen and (max-width: 800px){

.arrow{transform: translateX(740px);}

.menu a{font-size: 10px;}  
.subjueces a{font-size: 0.6em;}
.datos a{font-size: 0.8rem;height: 1rem;}
.datos p{font-size: 1.1rem;}
.subcontainer div p{font-size: 0.7rem;}
.footer p{font-size: 0.6rem;}

.submenu
{transform: translateY(3rem);}
.subjueces,.subfili
{transform: translate(6.4rem, -3rem);}

.bus
{transform: translateY(3rem);}

.reglam
{transform: translate(0rem,3rem);}
.subreglam
{transform: translate(6.4rem, -3rem);}
.subtorneo
{transform: translate(6.4rem, -6rem);}
.subresolu
{transform: translate(6.4rem, -3rem);}
.novedad
{transform: translateY(4.5rem);}
.novedad div
{transform: translate(0rem);}
.subnovedad
{transform: translateX(6.4rem);}
.info
{transform: translateY(9rem);}
.subinfo
{transform: translateX(6.4rem);}
.resu
{transform: translateY(9rem);}
.resu div
{transform: translate(0rem,0rem);}
.subresu
{transform: translate(-6.4rem,1.5rem);}
.exa
{transform: translate(-6.4rem, 6rem);}
.subplaca
{transform: translate(-6.4rem,1.5rem);}
.subsieger
{transform: translate(-6.4rem, 3rem);}
.subestad
{transform: translate(-6.4rem, 6rem);}

}

@media screen and (max-width:1200px){

.subjueces a{font-size: 0.9em;}
.subjueces,.subfili
{transform: translate(9.9rem, -3rem);}
.subreglam
{transform: translate(9.9rem, -3rem);}
.subtorneo
{transform: translate(9.9rem, -3rem);}
.subresolu
{transform: translate(9.9rem, -3rem);}
.subnovedad
{transform: translateX(9.9rem);}
.subinfo
{transform: translateX(9.9rem);}
.subresu
{transform: translate(-9.9rem,1.5rem);}
.subresu div
{transform: translateY(0rem);}
.exa
{transform: translate(-9.9rem, 6rem);}
.exa div{transform: translate(0rem,0rem);}
.subplaca
{transform: translate(-9.9rem,1.5rem);}
.subplaca div
{transform: translateY(0rem);}
.subsieger
{transform: translate(-9.9rem, 3rem);}
.subsieger div
{transform: translateY(0rem);}
.subestad
{transform: translate(-9.9rem, 6rem);}
.subestad div
{transform: translateY(0rem);}
.arrow
{transform: translateX(1140px);}
}

